<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Rayon</title>
</head>
<body>
    
  <%- include("./navbar/nav.ejs") %>
    <table class="table tb">
        <thead class="thead-dark">
            <th scope="col">Id</th>
            <th scope="col">Rayon</th>
            <th scope="col" style="width: 10%;">Details</th>
            <th scope="col" style="width: 10%;">Modifier</th>
            <th scope="col" style="width: 10%;">Supprimer</th>
        </thead>
            <tbody>
                <% table.forEach((i)=>{ %>
                    <tr>
                        <td scope="row"><%= i.rayon_id %></td>
                        <td><%= i.rayon_name %></td>
                        <td><a class="details" href="/details?id=<%= i.rayon_id %>">Details</a></td>
                        <td><a class="edit" href="/edit_rayon?id=<%= i.rayon_id %>&name=<%= i.rayon_name %>">Edit</a></td>
                        <td><a class="delete" href="/delete_R?id=<%= i.rayon_id %>">Delete</a></td>
                    </tr>
                <% }); %>
            </tbody>
    </table>
    <center>
    <a href="add" ><button type="button" class="btn btn-primary btn-lg" style="background-color: #2487a5 !important;">Ajouter un rayon</button></a>
    </center>
</body>
</html>